@use '../../../scss/utils/' as *;

.youtube__section {
  @include flex-center;
  min-height: 60vh;
  background-color: $dkblue;
  margin: 0 auto;

  padding: 4rem 0;

  @include lg {
    padding: 20rem 0 4rem;
  }
}

.youtube__container {
  @include width;
  @include flex-center;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
  }

  div {
    order: 2;
    max-width: 100%;

    a {
      @include flex-center;
      text-align: flex-start;
      column-gap: 6px;
      margin-top: 2.5rem;

      font-size: 1.5rem;
      font-weight: 800;
      color: #fff;

      text-transform: uppercase;

      span {
        font-weight: 900;
        border-bottom: 2px solid red;
      }

      @include sm {
        font-size: 2.5rem;
      }

      @include lg {
        max-width: 90%;
      }

      @include xl {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-top: 1.5rem;
      text-align: justify;
      color: #fff;

      span {
        color: $cian;
        font-weight: bold;
      }

      @include lg {
        max-width: 90%;
      }
    }
  }

  iframe {
    box-shadow: $shadow;
    width: 100%;

    @include lg {
      width: 40%;
      order: 2;
    }
  }
}
