@use '../../../scss/utils/' as *;

.youtube__section {
  @include flex-center;
  min-height: 60vh;
  background-color: $dkblue;
  margin: 0 auto;
  padding: 20rem 0 4rem;
}

.youtube__container {
  @include width;
  max-width: 1120px;
  @include flex-center;
  justify-content: space-between;

  a {
    color: $gray;
    font-size: 2rem;
    line-height: 4.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
    align-self: flex-start;
    text-transform: uppercase;

    @include flex-center;
    gap: 1rem;
  }

  a:hover {
    svg,
    span {
      transition: all 0.5s;
      color: red !important;
    }
  }

  iframe {
    width: 40%;
    box-shadow: $shadow;
  }
}
