@use '../utils/' as *;

footer {
  width: 100%;
  // background-color: $dark-blue;
  background-color: #29539b;
  background-image: linear-gradient(315deg, #1e3b70 0%, #29539b 74%);
  padding: 1rem 0 !important;

  @include flex-center;
  flex-direction: column;

  @include lg {
    // padding: 1rem 0 !important;
  }
}

.copyright {
  height: auto;
  width: 90%;
  padding: 1rem 0 !important;
  border-top: 1px solid rgba(47, 235, 235, 0.2);
  overflow: hidden;

  @include sm {
    max-width: 80%;
  }

  @include lg {
    max-width: 70%;
  }

  &__text {
    color: #fff;
    font-size: 0.5rem;
    letter-spacing: 0.5px;
    text-align: center;

    @include sm {
      font-size: 0.6rem;
    }
    @include lg {
      font-size: 0.8rem;
    }

    a {
      font-size: 0.6rem;
      color: #fff;
      font-weight: 700;

      @include sm {
        font-size: 0.7rem;
      }
      @include lg {
        font-size: 0.9rem;
      }
    }

    a:hover {
      color: $cian;
      transition: 1s;
    }
  }
}

.social {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 1rem 0 !important;
  overflow: hidden;

  @include sm {
    max-width: 80%;
  }

  @include lg {
    max-width: 70%;
  }

  &__link {
    color: white;
    transition: color 0.3s;

    animation: iconTransition;
    transform: translateY(150px);
    animation-fill-mode: forwards;
    // animation-duration: 2s;
  }

  &__link:nth-of-type(1) {
    animation-duration: 2s;
  }

  &__link:nth-of-type(2) {
    animation-duration: 3s;
  }

  &__link:nth-of-type(3) {
    animation-duration: 4s;
  }

  &__link:hover {
    color: $cian;
    transition: 1s;
  }
}
