@use './variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin width {
  width: 90%;
  margin: 0 auto;
  max-width: 1120px;
}

// @mixin button {
//   margin-top: 1rem !important;
//   text-decoration: none;
//   padding: 1rem 2rem !important;
//   color: #fff;

//   background-image: linear-gradient(315deg, #09c6f9 0%, #045de9 74%);
//   border-radius: 2rem;

//   letter-spacing: 1.3px;
//   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);

//   &:hover {
//     letter-spacing: 1.1px;
//     color: #fff;
//     font-weight: 700;
//   }
// }

@mixin button {
  height: 3rem;
  background-color: $gray2;
  color: #737380;
  border: 0;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  transition: all 0.5s;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -khtml-border-radius: 0.5rem;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
