@use './variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin pgh-text {
  color: black;
  text-align: justify;

  span {
    display: block;
    margin: 2rem 0 !important;
  }
}

@mixin button {
  margin-top: 1rem !important;
  text-decoration: none;
  padding: 1rem 2rem !important;
  color: #fff;

  background-image: linear-gradient(315deg, #09c6f9 0%, #045de9 74%);
  border-radius: 0.6rem;

  letter-spacing: 1.3px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);

  &:hover {
    letter-spacing: 1.1px;
    color: #fff;
    font-weight: 700;
  }
}
