$cian: rgba(47, 235, 235, 1);
$blue: rgba(42, 85, 217, 1);
$dkblue: rgba(29, 60, 153, 1);
$gray: rgb(242, 242, 242);
$ltgray: #f5f9fc;
$dkgray: #121214;
$white: #ffffff;
$yellow: #eba417;
$shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
