@use '../../scss/utils/' as *;
.container {
  min-height: calc(100vh - 5rem);
  padding: 4rem 0;
}

.post {
  @include width;
  margin: 5rem auto;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    @include sm {
      font-size: 3.5rem;
    }
  }

  time {
    display: block;
    font-size: 1rem;
    color: $dkgray;
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: $black;

    p {
      text-align: justify;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    a {
      color: $cian;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
