@use '../../../scss/utils/' as *;

.section__form {
  @include flex-center;
  min-height: calc(100vh - 9rem);

  padding: 4rem 0;

  > div {
    @include width;
    @include flex-center;
    flex-direction: column;
    row-gap: 2rem;

    @include md {
      flex-direction: row;
    }

    img {
      max-width: 200px;

      @include sm {
        max-width: 300px;
      }
      @include md {
        order: 2;
      }
      @include lg {
        max-width: 350px;
      }
      @include xl {
        max-width: 450px;
      }
    }
  }

  form {
    > div {
      width: 100%;
      @include flex-center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      margin-bottom: 1rem;
    }

    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;

    @include lg {
      width: 60%;
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border-radius: 0.5rem;
      padding: 1rem;
      border: none;
      box-shadow: $shadow;
      background-color: #fff;

      &:focus {
        outline: none;
      }
      @include md {
        width: 80%;
      }
    }

    textarea {
      resize: none;
    }

    input[type='submit'] {
      @include button;
      box-shadow: $shadow;
      width: 100%;
      font-size: 1rem;

      @include md {
        width: 80%;
      }
    }
  }
}
