@use '../../../scss/utils/' as *;

.section__contact {
  @include flex-center;

  .title {
    padding: 4rem 0;
    @include width;
    max-width: 1120px;
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
  }

  .form {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    .input,
    .message {
      width: 100%;
      border-radius: 0.5rem;
      padding: 1rem !important;
      border: none;
      box-shadow: $shadow;
      background-color: $ltgray;

      &:focus {
        outline: none;
      }
    }

    .message {
      resize: none;
    }

    .btn {
      @include button;
      border: none;
    }
  }
}
