@use '../../../scss/utils/' as *;

.section__contact {
  @include flex-center;

  div {
    @include width;
    padding: 4rem 0;
    max-width: 1120px;
    @include flex-center;
    flex-direction: column;
    row-gap: 2rem;

    @include lg {
      flex-direction: row;
    }

    img {
      display: none;
      animation: fly 5s linear infinite reverse;
      
      @include sm {
        display: block;
        max-width: 200px;
      }
      @include md {
        max-width: 300px;
      }
      @include lg {
        order: 2;
        max-width: 400px;
      }
      @include xl {
        max-width: 500px;
      }
    }
  }
  
  form {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    
    @include lg {
      width: 60%;
    }
    
    input, textarea {
      width: 100%;
      border-radius: 0.5rem;
      padding: 1rem !important;
      border: none;
      box-shadow: $shadow;
      background-color: $ltgray;

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;
    }

    button {
      @include button;
    }
  }
}
