@use '../scss/utils/' as *;

.contentContainer {
  min-height: calc(100vh - 5rem);
  @include width;
  margin: 1rem auto;

  @include flex-center;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  img {
    animation: fly 3s linear infinite reverse;
    max-width: 150px;

    @include sm {
      max-width: 300px;
    }
    @include md {
      order: 2;
    }
    @include lg {
      max-width: 450px;
    }
    @include xl {
      max-width: 600px;
    }
  }
}

.contentTexts {
  @include flex-center;
  flex-direction: column;
  gap: 1rem;
  @include width;
  text-align: left;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 800;

    span {
      font-weight: 900;
      font-size: 4rem;
      // color: $cian;
      text-transform: uppercase;
      background: -webkit-linear-gradient(
        225deg,
        #2a2a72 0%,
        #009ffd 48.15%,
        #37d5d6 100%
      ) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }

    @include sm {
      font-size: 4.5rem;
      line-height: 4.5rem;

      span {
        font-size: 5rem;
        // color: $cian;
        text-transform: uppercase;
        background: -webkit-linear-gradient(
          225deg,
          #37d5d6 0%,
          #009ffd 48.15%,
          #37d5d6 100%
        ) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
      }
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;

    span {
      // color: $cian;
      font-weight: bold;
      background: -webkit-linear-gradient(
        225deg,
        #37d5d6 0%,
        #009ffd 48.15%,
        #37d5d6 100%
      ) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
  }

  // button {
  //   margin-top: 2.5rem;
  // }
}
