@use '../scss/utils/' as *;

.main {
  min-height: calc(100vh - 5rem);
  padding: 4rem 0;
}

.posts {
  @include width;
  @include flex-center;
  flex-direction: column;

  a {
    display: block;

    & + a {
      margin-top: 2rem !important;
      padding-top: 2rem !important;
      border-top: 1.5px solid $cian !important;
    }

    time {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      color: $dkgray;
      font-weight: 600;
      margin-bottom: 0.5rem;

      @include md {
        font-weight: 500;
      }
    }

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 900;
      align-self: flex-start;

      transition: color 0.3s;
      margin-bottom: 1rem;
    }

    p {
      color: $dkblue;
      margin-top: 0.5rem;
      line-height: 1.625rem;
      text-align: justify;
    }

    &:hover span {
      color: $cian;
    }
  }
}
