@use '../../scss/utils/' as *;

.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background-color: $gray;
  color: #737380;
  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
    color: $dkgray;
  }

  transition: all 0.3s;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
