@use '../../scss/utils/' as *;

.header {
  height: 5rem;
  box-shadow: 2px 2px 10px 1px rgba($color: #000000, $alpha: 0.3);
  background-color: $dkblue;

  .container {
    height: 5rem;
    padding: 0 2rem;
    color: $ltgray;

    @include flex-center;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    .mobile {
      max-height: 25px;
      max-width: 25px;
      background-image: url(../../../public/images/menu.png);
      background-size: contain;
      padding: 0;

      @include md {
        display: none;
      }
    }

    .show {
      border: none;
      position: absolute;
      top: 4.9rem;
      left: 0;

      width: 100%;
      padding: 1rem 2rem 2rem;
      background-color: $dkblue;

      text-align: right;
      font-weight: 700;

      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }

    .hide {
      display: none;
    }

    @include md {
      padding: 0;

      @include width;
      .show {
        width: auto;
        padding: 0;
      }

      .show,
      .hide {
        font-weight: 400;
        position: static;
        display: flex;
        flex-direction: row;
        height: 5rem;
        align-items: center;

        a {
          display: inline-block;
          position: relative;
          padding: 0 0.5rem;
          height: 5rem;
          line-height: 5rem;

          transition: color 0.3s;

          &:hover {
            color: $cian;
          }

          .active {
            color: $cian;
            font-weight: 700;
          }

          &.active::after,
          &:hover::after {
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $cian;
          }
        }
      }
    }
  }
}
