@use '../../../scss/utils/' as *;

.cards__section {
  @include flex-center;
  min-height: 100vh;
  margin: 4rem 0;

  .cards__container {
    @include width;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  @include lg {
    min-height: 60vh;
    margin-bottom: -17rem;

    .cards__container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  min-height: 50vh;
  width: 100%;

  @include lg {
    max-width: 30%;
  }

  background-color: $gray;
  padding: 2rem;

  box-shadow: 2px 2px 10px 1px rgba($color: #000000, $alpha: 0.3);
  border: none;

  p {
    color: $blue;
    font-weight: 400;
    width: 100%;
    text-align: justify;
  }

  transition: all 0.5s;

  div {
    background-size: contain;
    height: 80px;
    width: 80px;
  }


  &:nth-child(1) div {
    background-image: url(../../../../public/images/cloud-computing.png);
  }

  &:nth-child(2) div{
    background-image: url(../../../../public/images/career.png);
  }

  &:nth-child(3)  div{
    background-image: url(../../../../public/images/experience.png);
  }

  &:hover {
    background-color: $blue;

    h3 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  &:hover {
    &:nth-child(1) div{
      background-image: url(../../../../public/images/cloud-computing-w.png);
    }

    &:nth-child(2) div{
      background-image: url(../../../../public/images/career-w.png);
    }

    &:nth-child(3) div{
      background-image: url(../../../../public/images/experience-w.png);
    }
  }
}
